.card{
    display: flex;
    flex-direction: row;
    height: 180px;
    width: 100px;
    background-color: white;
    gap: 10px;
    margin: 5%;

    .university-text {
        color: black;
    }
}